.footer{
    background-color: rgba(0, 139, 69, 0.993) ;
    margin: 20px 0;
    width: 100%;
    }
  

  .footer-container{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: start;
  }

  .footer-link{
    padding: 0 15px;
    color: white;
    text-align: left;
    &:hover{
        transform: translateY(-3%);
    }
    h4{
      display: inline-block;
       border-bottom: 2px solid black;
        color: white;
        border-bottom: 2px solid black;
    }
    li{
      &:hover{
        padding-left: 6px;
      }
    }
  }


  
  @media (min-width:320px) and (max-width:766px){
    .footer-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content:center;
      align-items: start;
    }
  }
 