nav{
    background: linear-gradient(to right, white, rgba(0, 139, 69, 0.993));
     
    .container-fluid{
       img{
        width: 30px;
        height: 30px;
       }
   
      .btn{
       background-color: white;
       &:hover{
           background-color: black;
           color: white;
       }
      }
   }
   }