//header indumentaria//
.indumentaria-box{
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/images/indumentaria.jpg);

    p{
        @include text (center, white,30px);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
        padding: 90px;
    }

    h1{
        @include text(center, white,80px);
        padding-bottom: 40px;
        font-family: $primaryText;
    }
    &,button{
        @include text(center,white,24px);
        text-decoration: none;
        background-color: rgb(252, 105, 0);
        padding: 20px;
        &:hover{
            background-color: rgb(251, 251, 251);
            color:rgb(252, 105, 0);
            transition: 2s;
        }
    }
}

//main//
.indumentaria-container{
    h2{
        background:linear-gradient(to left, white,rgb(252, 105, 0) );
        margin: 20px 0;
        padding: 10px;
        color: white;
    }
}

.box-productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        gap: 10px;
    }

    .card-prod{
        display: grid;
        border: 2px solid black;
        &:hover{
            transform: translateY(-3%);
        }

        img{
            width: 300px;
            object-fit: cover;
            
        }

        .btn-primary{
            padding: 10px;
            color: white;
            background-color: rgb(252, 105, 0); 
            &:hover{
                background-color: white;
                color: black;
                box-shadow: 4px 4px 5px 8px;
                transition: 2s;
            }
    }

    }

    .curiosidades{
            h4{
             margin: 20px 0;
            padding: 10px;
            background:linear-gradient(to left, white,rgb(252, 105, 0));
            font-family: $primaryText;   
            @include text(left,white,45px);
            }
            
        
        .box-1{
            
            margin: 30px 0;
            padding: 70px;
            background-image: url(../assets/images/jordan-logo.png);
            background-size: cover;
            background-position: center center;
            h5{
                @include text(left,white,40px);
        }
        p{
            color: white;
        }
        &:hover{
            border-radius: 5%;
            padding:40px;
            box-shadow: 2px 5px 10px red;
            transition: 2s;
            
        }
        }

        .box-2{
            margin: 30px 0;
            padding: 70px;
            background-image: url(../assets/images/123.jpeg);
            background-size: cover;
            background-position: center center;
            h5{
                @include text(left,rgb(255, 255, 255),40px);
             
        }
        p{
            color: white;
        }
        &:hover{
            border-radius: 5%;
            padding:40px;
            box-shadow: 2px 5px 10px grey;
            transition: 2s;
            
        }
        
        }
        }
        .box-3{
            margin: 30px 0;
            padding: 70px;
            background-image: url(../assets/images/puma-1.jpg);
            background-size: cover;
            background-position: center center;
            h5{
                @include text(left,rgb(255, 255, 255),40px);
             
        }
        p{
            color: white;
        }
        &:hover{
            border-radius: 5%;
            padding:40px;
            box-shadow: 2px 5px 10px rgb(7, 118, 155);
            transition: 2s;
            
        }
        }
    
