//header//
.zapatillas-box{
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/images/jordan7.webp);
    display: flex;
    justify-content: center;
  
    p{
        @include text (center, rgb(255, 255, 255),30px);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 10px 0;
        padding: 90px 0;
    }

    h1{
        @include text(center, rgb(250, 250, 250),80px);
        padding-bottom: 40px;
        font-family: $primaryText;
    }

    &,button{
        @include text(center,white,24px);
        text-decoration: none;
        background-color: rgb(0, 121, 161);
        padding: 20px;
        &:hover{
            background-color: white;
            color: rgb(0, 0, 0);
            transition: 2s;
        }
    }
}

//main//
.main-box{
    h2{
        background:linear-gradient(to left, white,rgb(0, 121, 161));
        margin: 20px 0;
        padding: 10px;
        color: white;
    }
}

.box-productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;

    }

    .card-prod{
        display: grid;
        border: 2px solid black;
        &:hover{
            transform: translateY(-3%);
        }

        img{
            width: 300px;
            object-fit: cover;
            
        }

        button{
            padding: 10px;
            color: white;
            background-color: rgb(0, 121, 161); 
            &:hover{
                background-color: white;
                color: black;
                box-shadow: 4px 4px 5px 8px;
                transition: 2s;
            }
    }

    }
    
.guia{
    display: grid;
    margin: 40px 0;

    .talles{
        text-align: center;
        border: 2px solid black;
        width: 100%;
        
        h4{
        @include text (center,white, 40px);
         background-color:rgb(0, 121, 161);
         font-family: $primaryText;
        }
       p{
        text-align: center;
        font-size: 24px;
        color: white;
        background:linear-gradient(to right, rgb(0, 121, 161), rgb(0, 37, 72));
       }
      img{
        max-width: 60%;
        &:hover{
            transform: rotateX(360deg);
            transition: 2s;
        }
       }
    }
}    



