//header//
.zapatillas-box{
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/images/jordan-7.jpg);

    p{
        @include text (center, white,30px);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 10px 0;
        padding: 90px 0;
    }

    h1{
        @include text(center, white,80px);
        padding-bottom: 40px;
        font-family: $primaryText;
    }

    &,button{
        @include text(center,white,24px);
        text-decoration: none;
        background-color: rgb(58, 2, 84);
        padding: 20px;
        &:hover{
            background-color: white;
            color: rgb(58, 2, 84);
            transition: 2s;
        }
    }
}

//main//
.main-box{
    h2{
        background:linear-gradient(to left, white, rgb(72, 1, 72));
        margin: 20px 0;
        padding: 10px;
        color: white;
    }
}

.box-productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;

    }

    .card-prod{
        display: grid;
        border: 2px solid black;
        &:hover{
            transform: translateY(-3%);
        }

        img{
            width: 300px;
            object-fit: cover;
            
        }

        button{
            padding: 10px;
            color: white;
            background-color: rgb(72, 1, 72); 
            &:hover{
                background-color: white;
                color: black;
                box-shadow: 4px 4px 5px 8px;
                transition: 2s;
            }
    }

    }
    
    

